@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
  background-color: white;
}
* {
  font-family: 'Poppins', sans-serif; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
:before,:after{
	box-sizing: border-box;
}
.container1{
	max-width: 1200px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.v-center{
	align-items: center;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/* header */
.header {
  display: flex;
  justify-content: center; /* Center the entire header content */
  align-items: center; /* Center items vertically */
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .item-left {
  flex: 0 0 auto; /* Allow the logo to take its natural width */
}

.header .item-center {
  flex: 1; /* Allow the center item to take remaining space */
  display: flex;
  justify-content: center; /* Center the menu items */
}

.header .menu > ul > li {
  margin: 0 15px; /* Space between menu items */
}

.header .item-right {
  flex: 0 0 auto; /* Allow the button to take its natural width */
  display: flex;
  justify-content: flex-end; /* Align button to the right */
}
.header .item-right a{ 
     text-decoration: none;
     font-size: 16px;
     color:#555555;
     display: inline-block;
     margin-left: 10px;
     transition: color 0.3s ease;
}
.header .menu > ul > li{
	display: inline-block;
	line-height: 50px;
	margin-left: 25px;
}
.header .menu > ul > li > a{
	font-size: 18px;
	font-weight: 500;
	color:#0297d7;
	position: relative;
	text-transform: capitalize;
	transition: color 0.3s ease;
}
.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #ffffff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
}

@media(min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
      margin-top: 0;
      visibility: visible;
      opacity: 1;
  }
}

.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
  list-style-type: disc;
  color: black;
}

.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 20px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}

.header .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 10px 0;
  display: inline-block;
  font-size: 18px;
  color: #000000;
  transition: color 0.3s ease;
}

.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  flex: 0 0 25%;
  padding: 0 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
  font-size: 16px;
  color: #ea4636;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title {
  text-align: center;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 50%;
  width: 50%;
  margin: 50px auto;
  display: block;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a {
  color: #ea4636;
}


.mobile-menu-head,
.mobile-menu-trigger{
	display: none;
}


/* Custom button styling */
.btn-custom {
  background: linear-gradient(135deg, #00a0e3, #00a0e3); /* Gradient background */
  color: white; 
  border: none; 
  padding: 12px 20px; /* Increased padding for a larger button */
  font-size: 18px; /* Slightly larger font size */
  border-radius: 4px; /* More rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transition */
}

.btn-custom:hover {
  background: linear-gradient(135deg, #0056b3, #004080); /* Darker gradient on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.btn-custom:active {
  background: linear-gradient(135deg, #003d80, #002d60); /* Even darker gradient on click */
  transform: scale(0.95); /* Slightly shrink on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduced shadow on click */
}



/*responsive*/
@media(max-width: 991px){

	.header .item-center{
		order:3;
		flex:0 0 100%;
	}
	.header .item-left,
	.header .item-right{
		flex: 1 1 auto;
    min-width: 0
	}
	.v-center{
		justify-content: space-around;
	}
	.header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 7rem; /* Aligns it to the right */
    margin-right: 1rem; /* Provides some padding */
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
	.header .mobile-menu-trigger span{
		display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
	}
	.header .mobile-menu-trigger span:before,
	.header .mobile-menu-trigger span:after{
		content: '';
		position: absolute;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #333333;
	}
	.header .mobile-menu-trigger span:before{
		top:-6px;
	}
	.header .mobile-menu-trigger span:after{
		top:6px;
	}
	.header .item-right{
		align-items: center;
	}

	.header .menu{
		position: fixed;
		width: 320px;
		background-color:#ffffff;
		left:0;
		top:0;
		height: 100%;
		overflow: hidden;
		transform: translate(-100%);
		transition: all 0.5s ease;
		z-index: 1099;
	}
	.header .menu.active{
	   transform: translate(0%);	
	}
	.header .menu > ul > li{
		line-height: 1;
		margin:0;
		display: block;
	}
	.header .menu > ul > li > a{
		line-height: 50px;
		height: 50px;
		padding:0 50px 0 15px;
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}
	.header .menu > ul > li > a i{
		position: absolute;
		height: 50px;
		width: 50px;
		top:0;
		right: 0;
		text-align: center;
		line-height: 50px;
		transform: rotate(-90deg);
	}
	.header .menu .mobile-menu-head{
		display: flex;
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 501;
		position: sticky;
		background-color: #ffffff;
		top:0;
	}
	.header .menu .mobile-menu-head .go-back{
		height: 50px;
		width: 50px;
		border-right: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;
		font-size: 16px;
		display: none;
	}
	.header .menu .mobile-menu-head.active .go-back{
		display: block;
	}
	.header .menu .mobile-menu-head .current-menu-title{
		font-size: 15px;
		font-weight: 500;
		color:#000000;
	}
	.header .menu .mobile-menu-head .mobile-menu-close{
	    height: 50px;
		width: 50px;
		border-left: 1px solid rgba(0,0,0,0.1);
		cursor: pointer;
		line-height: 50px;
		text-align: center;
		color:#000000;	
		font-size: 25px;
	}
	.header .menu .menu-main{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.header .menu > ul > li .sub-menu.mega-menu,
	.header .menu > ul > li .sub-menu{
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
	}
.header .menu > ul > li .sub-menu.active{
	display: block;
}
@keyframes slideLeft{
	0%{
		opacity:0;
		transform: translateX(100%);
	}
	100%{
	    opacity:1;
		transform: translateX(0%);	
	}
}
@keyframes slideRight{
	0%{
		opacity:1;
		transform: translateX(0%);
	}
	100%{
	    opacity:0;
		transform: translateX(100%);	
	}
}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
		margin-top:0;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title{
		margin-bottom: 20px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child .title{
		margin-bottom:0px;
	}
	.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
		flex: 0 0 100%;
        padding: 0px;
	}
	.header .menu > ul > li .sub-menu > ul > li > a,
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a{
		display: block;
	}
	.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
		margin-bottom: 15px;
	}
	.menu-overlay{
		position: fixed;
		background-color: rgba(0,0,0,0.5);
		left:0;
		top:0;
		width: 100%;
		height: 100%;
		z-index: 1098;
		visibility: hidden;
		opacity:0;
		transition: all 0.5s ease;
	}
	.menu-overlay.active{
	  visibility: visible;
	  opacity:1;	
	}
}
@media(max-width: 480px) {
  .header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 5rem; /* Aligns it to the right */
    margin-right: 1rem; /* Provides some padding */
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .header .mobile-menu-trigger span {
    display: block;
		height: 2px;
		background-color: #333333;
		width: 24px;
		position: relative;
  }
}

@media (max-width: 768px) {
  .btn-custom {
      padding: 8px 16px; /* Smaller padding on medium screens */
      font-size: 14px; /* Smaller font size on medium screens */
  }
}

@media (max-width: 480px) {
  .btn-custom {
      padding: 8px 32px; /* Even smaller padding on small screens */
      font-size: 23px; /* Even smaller font size on small screens */
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* General layout adjustments */
  .container {
    width: 90%;
    padding: 15px;
  }

  /* Header adjustments */
  .header .menu > ul > li {
    margin-left: 15px;
  }

  .header .menu > ul > li > a {
    font-size: 16px;
  }

  /* Button adjustments */
  .btn-custom {
    padding: 10px 18px;
    font-size: 16px;
  }

  /* Feature section adjustments */
  .feature__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .feature__content ul {
    max-width: 100%;
  }

  /* Card adjustments */
  .card {
    padding: 1.5rem;
  }

  .card-img-top {
    height: 200px;
  }

  /* Testimonials adjustments */
  .testimonials__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  /* Contact section adjustments */
  .contact-info, .hours {
    font-size: 14px;
  }

  /* Map container adjustments */
  .map-container iframe {
    height: 350px;
  }

  /* Footer adjustments */
  .footer h2 {
    font-size: 2.2em;
  }

  .footer p {
    font-size: 1.1em;
  }

  .footer .contact-info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* Services page adjustments */
  .service {
    width: calc(50% - 20px);
  }

  /* Appointment form adjustments */
  .appointment-container {
    flex-direction: row;
  }

  .appointment-form, .appointment-container img {
    width: 45%;
  }
}

/* Additional iPad-specific adjustments for landscape orientation */
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
  .header .menu > ul > li {
    margin-left: 10px;
  }
  

  .feature__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service {
    width: calc(33.33% - 20px);
  }
}


#progressBar {
  position: fixed;
  width: 100%;
  height: 10px;
  background-color:#00a0e3; 
  top: 80px;
  left: 0;
  z-index: 100;
  behavior: smooth;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  #progressBar {
      top: 68px; /* Distance from the top */
  }
}

/*carousel*/
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

h2{
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 900;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.step {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.step img {
    width: 40%;
    margin-right: 20px;
}
.step div {
    width: 60%;
}
.step div h2 {
    margin: 0;
    margin-bottom: 10px;
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 900;
}
.step div p {
    font-size: 16px;
}
.row p{
    font-size: 1rem;
    font-weight: 500;
}

.custom-image {
  max-width: 100%;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

@media (max-width: 768px) {
  .custom-image {
    width: 100%;
    height: auto;
  }
  @media (min-width: 769px) {
    .custom-image {
      width: 80%; /* or any preferred size */
      height: auto;
    }
  }
}



/*Info*/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--extra-light);
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.card p {
  font-size: 1rem;
  font-weight: 500;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  margin-bottom: 1rem;
}

.card-text {
  margin-bottom: auto;
}
/* Responsive styles for tablets */
/* Hide section on iPads */
@media (min-width: 768px) and (max-width: 1024px) {
  #services {
    display: none;
  }
}



/*FAQ*/
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.contact {
    text-align: center;
    margin-bottom: 20px;
}
.contact a {
    color: #007BFF;
    text-decoration: none;
}

.faq {
    margin-bottom: 20px;
}
.faq h3 {
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}
.faq p{
    font-size: 1rem;
    font-weight: 500;
}
.faq h3:hover {
    background-color: #00a0e3;
}
.faq-answer {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.faq-answer.active {
    display: block;
}
.faq h3::after {
    content: '▼';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}
.faq h3.active::after {
    transform: translateY(-50%) rotate(180deg);
}

/*TESTIMONIALS*/
.section__container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }
  
.header1 {
    margin-bottom: 2rem;
  }
  
  .header p {
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 500;
  }
  .headera a{
    font:300;
  }
  .testimonials__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .card0 {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: var(--extra-light);
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .card0 i {
    font-size: 2.5rem;
    color: black;
  }
  
  .card0 p {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .card0 hr {
    width: 40px;
    margin: auto;
    color: var(--text-light);
  }
  
  .card0 img {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid black;
  }
  
  .card0 .name {
    font-size: 0.9rem;
    font-weight: 400;
    color:  #767268;
    transition: 0.3s;
  }
  
  .card0 .name:hover {
    color: black;
  }
  .card0:hover{
    transform: translateY(-5px);
}
 
  
  @media (width < 900px) {
    .testimonials__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  
  @media (width < 600px) {
    .testimonials__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }



  @font-face {
    font-family: 'Ballerick Script';
    src: url('/ballerick-script.regular.otf') format('opentype');
}

.ballerick-font {
    font-family:'Ballerick Script', cursive;
    font-size: 3em; /* Adjust size as needed */
    text-align: center; /* Optional: Centers the text */
    color: #000; /* Optional: Sets text color, adjust as needed */
}

  


  /*contact Us*/
h1, h2 {
    text-align: center;
}
.container {
    width: 80%;
    margin: auto;
    padding: 0px;
}
h2 {
    margin-bottom: 20px;
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 900;
}
.contact {
    margin-bottom: 20px;
}
.contact a{
    color: white;
}
.contact p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.whatsapp-button {
    display: inline-block;
    
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    border: 2px solid #000000;
}
.whatsapp-button i {
    margin-right: 10px;
    color: #000;
}
.contact-info {
    text-align: center;
    margin-bottom: 20px;
}
.contact-info p {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}
.contact-info h2{
  color: #000;
}
.contact-info a {
   color: #000000;
    text-decoration: underline;
}
h1
.hours {
    font-size: 16px;
}
.hours p{
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}
.hours table {
    width: 100%;
    margin: 20px 0;
}
.hours td {
    padding: 5px 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.toggle-arrow {
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
}
.map-container {
    position: relative;
    margin: 20px 0;
}
.map-container iframe {
    width: 100%;
    height: 400px;
    border: 0;
}
.map-container a{
    color: white;
}

.directions-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    background-color: #000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.directions-button i {
    margin-right: 10px;
    color: white;
}


/*sticky-social*/
.sticky-social {
	position: fixed;
	right: 10px;
	bottom: 20px;
	z-index: 1000;
	display: none; /* Hidden by default, will show after delay */
  }
  .sticky-social a {
	display: block;
	margin: 10px 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: white;
	font-size: 24px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
  }
  .sticky-social a.whatsapp { background-color: #25d366; }
  .sticky-social a.youtube { background-color: #ff0000; }
  .sticky-social a.phone { background-color: #007bff; }
  .sticky-social a.linkedin { background-color: #007bff; }

  .sticky-social a:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }
 
  
  
/*footer*/
.footer {
	background-color: #00a0e3;
	color: white;
	padding: 5px 0;
	text-align: center;
  }
  
  .footer .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
  }
  
  .footer h2 {
	font-size: 2.5em;
	margin-bottom: 20px;
  }
  
  .footer p {
	font-size: 1.2em;
	margin-bottom: 40px;
  }
  
  .footer .social-media {
	margin-bottom: 40px;
  }
  
  .footer .social-media a {
	display: inline-block;
	margin: 0 10px;
	font-size: 2em;
	color: white;
	transition: transform 0.3s;
  }
  
  .footer .social-media a:hover {
	transform: scale(1.1);
  }
  
  .footer .contact-info {
	display: flex;
	justify-content: center;
	gap: 20px;
  }
  
  .footer .contact-card {
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
  }
  .footer .contact-card a {
    color: #00a0e3;
    text-decoration: none; /* This removes the underline */
}
  .footer .contact-card i {
	font-size: 2em;
  }
  
  .footer .contact-card p {
	margin: 0;
	color: white;
  }
  /* Responsive Design */
  @media (max-width: 768px) 
  {
	.footer h2 {
	  font-size: 2em;
	}
  
	.footer p {
	  font-size: 1em;
	}
  
	.footer .social-media a {
	  font-size: 1.5em;
	  margin: 0 8px;
	}
  
	.footer .contact-info {
	  flex-direction: column;
	  gap: 15px;
	}
  
	.footer .contact-card {
	  padding: 15px;
	  gap: 8px;
	}
  
	.footer .contact-card i {
	  font-size: 1.5em;
	}
  }
  
  @media (max-width: 480px) {
	.footer h2 {
	  font-size: 1.5em;
	}
  
	.footer p {
	  font-size: 0.9em;
	}
  
	.footer .social-media a {
	  font-size: 2em;
	  margin: 0 5px;
	}
  
	.footer .contact-card {
	  padding: 10px;
	  gap: 5px;
	}
  
	.footer .contact-card i {
	  font-size: 1.2em;
	}
  }
  
  
  .fa.fa-twitter{
	  font-family:sans-serif;
  }

/*prp*/

.steps {
    counter-reset: step;
    text-align: center;
}
.step1 {
    display: flex;
    margin-bottom: 15px;
    text-align: center;
}
.step-number {
    font-size: 2.5em;
    color: #00a0e3;
    font-weight: bold;
    margin-right: 15px;
    line-height: 1;
}
.step-number::before {
    counter-increment: step;
    content: counter(step, decimal-leading-zero);
}
.step-content {
    flex: 1;
}





  /*services*/
.hero {
	background: #00a0e3; /* Adjust as per your image */
	color: white;
	text-align: center;
	padding: 50px 0;
  }
  
  .hero h1 {
	font-size: 48px;
	margin: 10px 0;
  }
  
  .hero h2 {
	font-size: 24px;
	margin: 10px 0;
  }
  
  .services {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px 20px;
  }
  
  .service {
	background: white;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	margin: 10px;
	width: 300px;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	color: inherit;
	transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .service img {
	width: 100%;
	border-radius: 5px;
  }
  
  .service h3 {
	font-size: 20px;
	margin: 15px 0;
  }
  
  .service p {
	color: #000000;
  }
  
  .service:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
  
  /*appointment*/
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.appointment-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.appointment-container img {
    width: 80%;
    border-radius: 15px;
    max-width: 500px;
    align-items: center;
}

.appointment-form {
    flex: 1;
    background: linear-gradient(135deg, #1976D2, #33C9DC);
    padding: 40px;
    border-radius: 20px;
    color: white;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
}

.appointment-form h2 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.appointment-form input[type="text"],
.appointment-form input[type="email"],
.appointment-form input[type="phone"],
.appointment-form input[type="age"],
.appointment-form input[type="service"],
.appointment-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid transparent;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    display: block;
}

.appointment-form input[type="text"]:focus,
.appointment-form input[type="email"]:focus,
.appointment-form input[type="phone"]:focus,
.appointment-form input[type="age"]:focus
.appointment-form input[type="service"]:focus {
    outline: none;
    border-color: #33C9DC;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

.appointment-form input[type="submit"] {
    background-color: #1eaebd;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
.appointment-form input[type="submit"]:active{
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.05); 
  animation: clickAnimation 0.4s ease; 
}
.appointment-form input[type="submit"]:hover {
    background-color: #1976D2;
    transform: scale(1.05);
}
.appointment-form select[name="service"] {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: 2px solid transparent;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

/* Dropdown arrow */
.appointment-form select[name="service"]::after {
  content: '\25BC'; /* Downward arrow symbol */
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Focus state */
.appointment-form select[name="service"]:focus {
  outline: none;
  border-color: #33C9DC;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
    .appointment-container {
        flex-direction: column;
        padding: 10px;
    }

    .appointment-form {
        max-width: 100%;
        padding: 20px;
    }

    .appointment-form h2 {
        font-size: 22px;
    }

    .appointment-form input[type="text"],
    .appointment-form input[type="email"],
    .appointment-form input[type="phone"],
    .appointment-form input[type="age"],
    .appointment-form input[type="service"],
    .appointment-form input[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .appointment-container {
        padding: 5px;
    }

    .appointment-form {
        padding: 15px;
    }

    .appointment-form h2 {
        font-size: 20px;
    }

    .appointment-form input[type="text"],
    .appointment-form input[type="email"],
    .appointment-form input[type="phone"],
    .appointment-form input[type="age"],
    .appointment-form input[type="service"],
    .appointment-form input[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}


/**/
/* Animation Keyframes */
/* Full-Screen Spinner Container */
#spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-message {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
}

